  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <h1><%= @tournament.name %></h1>
    <h2><%= @tournament.description %></h2>

<div class="tabs">
  <ul class="tab-links">
      <li class="active"><a href="#bracket">Bracket</a></li>
      <li><a href="#results">Results</a></li>
      <li><a href="#players">Players</a></li>
  </ul>

  <div class="tab-content">
    <div id="bracket" class="tab active">
      <div class="bracket-container">
        <div class="winners-container">
          <table class="bracket-winners">
            <thead>
              <% @tournament.winnersRounds.times do |i| %>
                <th>Winners Round <%= i + 1 %></th>
              <% end %>
            </thead>
            <tbody>
                <%
                  @tournament.winnersRounds.times do |i|
                  firstTime = true
                %>
                <td>
                  <% @tournament.gamesets.where(name: "winners_round_#{i + 1}").each_with_index do |set, index| %>
                    <%
                        topIsWinner = false
                        botIsWinner = false
                        set.winner == set.topPlayer ? topIsWinner = true : botIsWinner = true
                     %>

                    <%
                      wchar = Gamematch.select("wchar", "lchar").where(tournament: @tournament, winner: set.winner, gameset: set)
                      lchar = Gamematch.select("lchar", "wchar").where(tournament: @tournament, loser: set.loser, gameset: set)
                      winningChars = []
                      losingChars = []
                      wchar.each do |match|
                        match.wchar.split(',').each do |char|
                         winningChars.push(char) if !winningChars.include? char
                        end
                        match.lchar.split(',').each do |char|
                          losingChars.push(char) if !losingChars.include? char
                        end
                      end
                      lchar.each do |match|
                        match.lchar.split(',').each do |char|
                         losingChars.push(char) if !losingChars.include? char
                        end
                        match.wchar.split(',').each do |char|
                         winningChars.push(char) if !winningChars.include? char
                        end
                      end
                    %>
                    <% if index % 2 == 0 %>

                    <% if i != 0 %>
                      <% #Place spacers between sets
                        (i == 1 ? (i) : ((2 ** i) - 1)).times do |x|
                      %>
                        <% if firstTime %>
                          <div class="match_half_spacer" style="width: 50px;"></div>
                        <% else %>
                          <div class="match_spacer" style="width: 50px;"></div>
                        <% end %>
                      <% end %>
                      <% firstTime = false %>
                    <% end %>

                      <table border="0" cellpadding="0" cellspacing="0" class="match_table match_qtip match-tipsy admin_editable pid34398004 pid34398092" id="match_qtip_51831678">
                        <tbody>
                          <tr>
                            <td class="core" id="match_qtip_51831678_" style="padding:0" original-title="">
                              <div class="match_top_half">
                                <div class="top_score <%= "winner" if topIsWinner %>"><%= topIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-round="1">
                                  <% if topIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="match_bottom_half">
                                <div class="bottom_score <%= "winner" if botIsWinner %>"><%= botIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-participant_id="34398092" data-round="1">
                                  <% if botIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="shadow"></div>
                            </td>
                            <td style="padding:0;">
                              <div class="match-location-container">
                              <div class="hide match-location" title="">

                              </div>
                              </div>
                              <div class="bracket_lines " style="float:none;">
                                <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td class="left_col top_row border_bottom rfix"></td>
                                    </tr>
                                    <tr>
                                      <td class="left_col bottom_row border_right"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <% else %>

                    <% if i != 0 %>
                      <% #Place spacers between sets
                        (i == 1 ? (i) : ((2 ** i) - 1)).times do |x|
                      %>
                          <table border="0" cellpadding="0" cellspacing="0" class="match_table  " id="">
                            <tbody>
                              <tr>
                                <td class="core" id="" style="padding:0">
                                  <div class="spacer full_width_spacer"></div>
                                </td>
                                <% if (x + 1) == ((1 + ((2 ** i) - 1))/2) || i == 1 %>
                                  <td style="padding:0;">
                                    <div class="bracket_lines " style="float:none;">
                                      <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                          <tr>
                                            <td rowspan="2" class="left_col one_row border_right"></td>
                                            <td class="right_col top_row border_bottom"></td>
                                          </tr>
                                          <tr>
                                            <td class="bottom_row"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                <% else %>
                                  <td style="padding:0;">
                                    <div class="bracket_lines " style="float:none;"><table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="left_col one_row border_right"></td></tr></tbody></table></div>
                                  </td>
                                <% end %>
                              </tr>
                            </tbody>
                          </table>
                      <% end %>
                    <% end %>




                      <table border="0" cellpadding="0" cellspacing="0" class="match_table match_qtip match-tipsy admin_editable pid34398004 pid34398092" id="match_qtip_51831678">
                        <tbody>
                          <tr>
                            <td class="core" id="match_qtip_51831678_" style="padding:0" original-title="">
                              <div class="match_top_half">
                                <div class="top_score <%= "winner" if topIsWinner %>"><%= topIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-round="1">
                                  <% if topIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="match_bottom_half">
                                <div class="bottom_score <%= "winner" if botIsWinner %>"><%= botIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-participant_id="34398092" data-round="1">
                                  <% if botIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="shadow"></div>
                            </td>

                            <% if i == 0 %>
                              <td style="padding:0;">
                                <div class="match-location-container">
                                <div class="hide match-location" title="">

                                </div>
                                </div>
                                <div class="bracket_lines " style="float:none;">
                                  <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td class="left_col top_row border_bottom border_right lfix"></td>
                                        <td class="right_col top_row border_top"></td>
                                      </tr>
                                      <tr>
                                        <td class="left_col rfix"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            <% else %>

                              <td style="padding:0;">
                                <div class="match-location-container">
                                <div class="hide match-location" title="">

                                </div>
                                </div>
                                <div class="bracket_lines " style="float:none;">
                                  <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td class="left_col top_row border_right border_bottom"></td>
                                      </tr>
                                      <tr>
                                        <td class="right_col rfix"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            <% end %>

                          </tr>
                        </tbody>
                      </table>
                    <% end %>
                  <% end %>
                  </td>
                  <% skipRound1 = false %>
                  <% skipRound2 = false %>
                <% end %>
            </tbody>
          </table>
        </div>
        <div class="losers-container">
          <table class="bracket-losers">
            <thead>
              <% @tournament.losersRounds.times do |i| %>
                <th>Losers Round <%= i + 1 %></th>
              <% end %>
            </thead>
            <tbody>
                <%
                  counter = 0
                  @tournament.losersRounds.times do |i|
                  firstTime = true
                %>
                <td>
                  <% @tournament.gamesets.where(name: "losers_round_#{i + 1}").each_with_index do |set, index| %>
                    <%
                        topIsWinner = false
                        botIsWinner = false
                        set.winner == set.topPlayer ? topIsWinner = true : botIsWinner = true
                     %>

                    <%
                      wchar = Gamematch.select("wchar", "lchar").where(tournament: @tournament, winner: set.winner, gameset: set)
                      lchar = Gamematch.select("lchar", "wchar").where(tournament: @tournament, loser: set.loser, gameset: set)
                      winningChars = []
                      losingChars = []
                      wchar.each do |match|
                        match.wchar.split(',').each do |char|
                         winningChars.push(char) if !winningChars.include? char
                        end
                        match.lchar.split(',').each do |char|
                          losingChars.push(char) if !losingChars.include? char
                        end
                      end
                      lchar.each do |match|
                        match.lchar.split(',').each do |char|
                         losingChars.push(char) if !losingChars.include? char
                        end
                        match.wchar.split(',').each do |char|
                         winningChars.push(char) if !winningChars.include? char
                        end
                      end
                    %>
                    <% if index % 2 == 0 %>

                    <% if i != 0 && i != 1
                       %>
                      <% #Place spacers between sets
                      (counter == 1 ? (1) : ((2 ** counter) - 1)).times do |x|
                      %>
                        <% if firstTime %>
                          <div class="match_half_spacer" style="width: 50px;"></div>
                        <% else %>
                          <div class="match_spacer" style="width: 50px;"></div>
                        <% end %>
                      <% end %>
                      <% firstTime = false %>
                    <% end %>

                      <table border="0" cellpadding="0" cellspacing="0" class="match_table match_qtip match-tipsy admin_editable pid34398004 pid34398092" id="match_qtip_51831678">
                        <tbody>
                          <tr>
                            <td class="core" id="match_qtip_51831678_" style="padding:0" original-title="">
                              <div class="match_top_half">
                                <div class="top_score <%= "winner" if topIsWinner %>"><%= topIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-round="1">
                                  <% if topIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="match_bottom_half">
                                <div class="bottom_score <%= "winner" if botIsWinner %>"><%= botIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-participant_id="34398092" data-round="1">
                                  <% if botIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="shadow"></div>
                            </td>
                            <td style="padding:0;">
                              <div class="match-location-container">
                              <div class="hide match-location" title="">

                              </div>
                              </div>
                              <div class="bracket_lines " style="float:none;">
                                <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                  <tbody>
                                    <tr>
                                      <td class="left_col top_row border_bottom rfix"></td>
                                    </tr>
                                    <tr>
                                      <td class="left_col bottom_row border_right"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <% else %>

                    <% if i != 0 && i != 1 %>
                      <% #Place spacers between sets
                      (counter == 1 ? (1) : ((2 ** counter) - 1)).times do |x|
                      %>
                          <table border="0" cellpadding="0" cellspacing="0" class="match_table  " id="">
                            <tbody>
                              <tr>
                                <td class="core" id="" style="padding:0">
                                  <div class="spacer full_width_spacer"></div>
                                </td>
                                <% if (x + 1) == ((1 + ((2 ** i) - 1))/2) || i == 1 %>
                                  <td style="padding:0;">
                                    <div class="bracket_lines " style="float:none;">
                                      <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                          <tr>
                                            <td rowspan="2" class="left_col one_row border_right"></td>
                                            <td class="right_col top_row border_bottom"></td>
                                          </tr>
                                          <tr>
                                            <td class="bottom_row"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                <% else %>
                                  <td style="padding:0;">
                                    <div class="bracket_lines " style="float:none;"><table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="left_col one_row border_right"></td></tr></tbody></table></div>
                                  </td>
                                <% end %>
                              </tr>
                            </tbody>
                          </table>
                      <% end %>
                    <% end %>




                      <table border="0" cellpadding="0" cellspacing="0" class="match_table match_qtip match-tipsy admin_editable pid34398004 pid34398092" id="match_qtip_51831678">
                        <tbody>
                          <tr>
                            <td class="core" id="match_qtip_51831678_" style="padding:0" original-title="">
                              <div class="match_top_half">
                                <div class="top_score <%= "winner" if topIsWinner %>"><%= topIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-round="1">
                                  <% if topIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= topIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="match_bottom_half">
                                <div class="bottom_score <%= "winner" if botIsWinner %>"><%= botIsWinner ? set.wscore : set.lscore%></div>
                                <div class="inner_content" data-participant_id="34398092" data-round="1">
                                  <% if botIsWinner %>
                                    <% winningChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% else %>
                                    <% losingChars.each do |char| %>
                                    <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char.humanize}", class: "bracket-charImg") %>
                                    <% end %>
                                  <% end %>
                                  <span style="" title="<%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %>"><%= botIsWinner ? set.winner.gamertag : set.loser.gamertag %></span>
                                </div>
                              </div>
                              <div class="shadow"></div>
                            </td>

                            <% if i == 0 %>
                              <td style="padding:0;">
                                <div class="match-location-container">
                                <div class="hide match-location" title="">

                                </div>
                                </div>
                                <div class="bracket_lines " style="float:none;">
                                  <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td class="left_col top_row border_bottom border_right lfix"></td>
                                        <td class="right_col top_row border_top"></td>
                                      </tr>
                                      <tr>
                                        <td class="left_col rfix"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            <% else %>

                              <td style="padding:0;">
                                <div class="match-location-container">
                                <div class="hide match-location" title="">

                                </div>
                                </div>
                                <div class="bracket_lines " style="float:none;">
                                  <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td class="left_col top_row border_right border_bottom"></td>
                                      </tr>
                                      <tr>
                                        <td class="right_col rfix"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            <% end %>

                          </tr>
                        </tbody>
                      </table>
                    <% end %>
                  <% end %>
                  <% counter += 1 if (i + 1) % 2 == 0 %>
                  </td>
                <% end %>
            </tbody>
          </table>
        </div>
        </div>

      </div>

    <div id="results" class="tab">
      <div class="table-responsive">
        <table class="table main">
          <thead>
            <tr>
              <th>Round</th>
              <th>Winner</th>
              <th>Loser</th>
              <th>Score</th>
              <th>Winner Characters</th>
              <th>Loser Character</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          <% @tournament.gamesets.each_with_index do |set, index| %>

            <tr class="clickable-row <%= ((index + 1) % 2) == 0 ? "even" : "odd" %>" data-id="row<%= index %>">
                <td><%= set.name.humanize.split.map(&:capitalize).join(' ') %></td>
                <td><%= set.winner.gamertag.to_s %></td>
                <td><%= set.loser.gamertag.to_s %></td>
                <td><%= set.wscore %> - <%= set.lscore %></td>
                <%
                 wchar = Gamematch.select("wchar", "lchar").where(tournament: @tournament, winner: set.winner, gameset: set)
                 lchar = Gamematch.select("lchar", "wchar").where(tournament: @tournament, loser: set.loser, gameset: set)
                 winningChars = []
                 losingChars = []
                 wchar.each do |match|
                   match.wchar.split(',').each do |char|
                    winningChars.push(char) if !winningChars.include? char
                   end
                   match.lchar.split(',').each do |char|
                     losingChars.push(char) if !losingChars.include? char
                   end
                 end
                 lchar.each do |match|
                   match.lchar.split(',').each do |char|
                    losingChars.push(char) if !losingChars.include? char
                   end
                   match.wchar.split(',').each do |char|
                    winningChars.push(char) if !winningChars.include? char
                   end
                 end
                 %>
                <td>
                  <% winningChars.each do |char| %>
                  <%= image_tag("characters/#{char}.png", alt: "#{char.humanize}", class: "charImg") %>
                  <% end %>
                </td>
                <td>
                  <% losingChars.each do |char| %>
                  <%= image_tag("characters/#{char}.png", alt: "#{char.humanize}", class: "charImg") %>
                  <% end %>
                </td>
                <td>
                  <%= link_to 'Edit', edit_gameset_path(set), class: "btn btn-sm btn-primary" %>
                </td>

            </tr>

            <tr id="row<%= index %>" hidden>
              <td colspan="7">
                <div class="table-responsive">
                  <table class="table inner">
                    <thead>
                      <tr>
                        <th>Match #</th>
                        <th>Winner</th>
                        <th>Loser</th>
                        <th>Winning Character</th>
                        <th>Losing Character</th>
                        <th>Map</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% set.gamematches.each do |match| %>
                        <tr>
                          <td><%= match.matchnum %></td>
                          <td><%= match.winner.gamertag.to_s %></td>
                          <td><%= match.loser.gamertag.to_s %></td>
                          <%
                           winningChars = []
                           match.wchar.split(',').each do |char|
                            winningChars.push(char) if !winningChars.include? char
                           end

                           losingChars = []
                           match.lchar.split(',').each do |char|
                            losingChars.push(char) if !losingChars.include? char
                           end
                           %>
                          <td>
                            <% winningChars.each do |char| %>
                            <%= image_tag("characters/#{char}.png", alt: "#{char.humanize}", class: "charImg") if !char.empty? %>
                            <% end %>
                          </td>
                          <td>
                            <% losingChars.each do |char| %>
                            <%= image_tag("characters/#{char}.png", alt: "#{char.humanize}", class: "charImg") if !char.empty? %>
                            <% end %>
                          </td>
                          <% puts match.map.class %>
                          <td><%= image_tag("maps/#{match.map}.png", alt: "#{match.map.humanize}", class: "charImg") if !match.map.empty? %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>

          <% end %>
        </tbody>
        </table>
      </div>
    </div>

     <div id="players" class="tab">
       <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Gamertag</th>
                <th>Played Characters</th>
                <th>W/L</th>
                <th>Winrate</th>
              </tr>
            </thead>
            <tbody>
              <% @tournament.players.each do |player| %>
                <tr>
                  <td><%= player.gamertag %></td>

                  <%
                   wchar = Gamematch.select("wchar").where(tournament: @tournament, winner: player)
                   lchar = Gamematch.select("lchar").where(tournament: @tournament, loser: player)
                   chars = []
                   wchar.each do |match|
                     match.wchar.split(',').each do |char|
                      chars.push(char) if !chars.include? char
                     end
                   end
                   lchar.each do |match|
                     match.lchar.split(',').each do |char|
                      chars.push(char) if !chars.include? char
                     end
                   end
                   %>
                  <td>
                    <% chars.each do |char| %>
                    <%= image_tag("characters/#{char}.png", alt: "#{char.humanize}", class: "charImg") %>
                    <% end %>
                  </td>
                    <% @wins = 0
                           @loses = 0
                          player.gamesets.where(tournament_id: @tournament.id).each do |set|
                            if player == set.winner
                              puts @wins.to_s + set.winner.gamertag.to_s
                              @wins += set.wscore.to_i
                              @loses += set.lscore
                            else
                              @wins += set.lscore
                              @loses += set.wscore
                            end
                           end %>
                  <td><%= @wins %> - <%= @loses %></td>
                  <td>
                      <%= @wins == 0 ? number_to_percentage(0 * 100, precision: 2) : number_to_percentage((@wins.to_f / (@loses + @wins)) * 100, precision: 2) %>
                  </td>
                 </tr>
                <% end %>
              </tbody>
            </table>
          </div>
       </div>
    </div>
  </div>



<%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/social-18/512/Youtube-128.png", alt: "SilentRush Youtube", class: "linkIcons"),
            'https://www.youtube.com/channel/UCPX7XGzTNf-Rt_c_QLTuWEQ/videos' %>
<%= link_to image_tag("http://drafterita.com/data/uploads/twitch-big-logo.png", alt: "SilentRush Twitch", class: "linkIcons"),
            'http://www.twitch.tv/silentrush_' %>
