  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <h1><%= @tournament.name %></h1>
    <h2><%= @tournament.description %></h2>

<div class="tabs">
  <ul class="tab-links">
      <li class="active"><a href="#bracket">Bracket</a></li>
      <li><a href="#players">Players</a></li>
  </ul>

  <div class="tab-content">
    <div id="bracket" class="tab active">
      <div class="dragscroll horizontal bracket-container">

          <table class="bracket-winners">
            <thead>
              <% @tournament.winnersRounds.times do |i| %>
                <th>Winners Round <%= i + 1 %></th>
              <% end %>
            </thead>
            <tbody>
                <%
                  roundMax = ( (2 ** (Math.log(@tournament.players.size, 2).ceil)) / 2 )
                  @tournament.winnersRounds.times do |i|
                  firstTime = true
                %>
                <td>
                  <% sets = @tournament.gamesets.where("roundnum = ?", (i + 1)).order(setnum: :asc)
                    setSize = sets.size
                    sets.each_with_index do |set, index| %>
                    <%
                        topIsWinner = false
                        botIsWinner = false
                        topIsWinner = true if set.winner == set.topPlayer && !set.topPlayer.nil?
                        botIsWinner = true if set.winner == set.bottomPlayer && !set.bottomPlayer.nil?
                     %>
                    <%

                        wchar = Gamematch.select("wchar", "lchar").where(tournament: @tournament, winner: set.winner, gameset: set)
                        lchar = Gamematch.select("lchar", "wchar").where(tournament: @tournament, loser: set.loser, gameset: set)
                        winningChars = []
                        losingChars = []
                        wchar.each do |match|
                          match.wchar.split(',').each do |char|
                           winningChars.push(char) if !winningChars.include? char
                          end
                          match.lchar.split(',').each do |char|
                            losingChars.push(char) if !losingChars.include? char
                          end
                        end
                        lchar.each do |match|
                          match.lchar.split(',').each do |char|
                           losingChars.push(char) if !losingChars.include? char
                          end
                          match.wchar.split(',').each do |char|
                           winningChars.push(char) if !winningChars.include? char
                          end
                        end
                    %>
                        <% ((roundMax/setSize) - 1).times do |x| %>
                          <% if firstTime %>
                            <div class="match_half_spacer" style="width: 50px;"></div>
                          <% else %>
                            <% if index % 2 != 0 %>
                            <table border="0" cellpadding="0" cellspacing="0" class="match_table  " id="">
                              <tbody>
                                <tr>
                                  <td class="core" id="" style="padding:0">
                                    <div class="spacer full_width_spacer"></div>
                                  </td>
                                  <% if (x + 1) == ((roundMax/setSize)) / 2 || i == 1 %>
                                    <td style="padding:0;">
                                      <div class="bracket_lines " style="float:none;">
                                        <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                          <tbody>
                                            <tr>
                                              <td rowspan="2" class="left_col one_row border_right"></td>
                                              <td class="right_col top_row border_bottom"></td>
                                            </tr>
                                            <tr>
                                              <td class="bottom_row"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                    <% else %>
                                      <td style="padding:0;">
                                        <div class="bracket_lines " style="float:none;"><table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="left_col one_row border_right"></td></tr></tbody></table></div>
                                      </td>
                                    <% end %>
                                  </tr>
                                </tbody>
                              </table>
                              <% end %>
                          <% end %>
                        <% end %>
                        <% firstTime = false %>

                    <%
                    bye = Player.find_by(gamertag: "bye")
                    if set.topPlayer == bye || set.bottomPlayer == bye
                       %>
                      <div class="match_spacer" style="width: 50px;"></div>
                    <% else %>
                    <% ran = Random.new()
                        rannum = ran.rand(56347456) %>
                    <div class="clickable-set" data-id="<%= set.id %>">
                        <table border="0" cellpadding="0" cellspacing="0" class="match_table match_qtip match-tipsy admin_editable pid34398004 pid34398092" id="match_qtip_51831678">
                          <tbody>
                            <tr>
                              <td class="core" id="match_qtip_51831678_" style="padding:0" original-title="">
                                <div class="matchContainer">
                                  <div class="match_top_half">
                                    <div class="top_score <%= "winner" if topIsWinner %>"><%= topIsWinner ? set.wscore : set.lscore%></div>
                                    <div class="inner_content" data-round="1">
                                        <% if topIsWinner && !set.topPlayer.nil? %>
                                          <% winningChars.each do |char| %>
                                          <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                          <% end %>
                                        <% end %>
                                        <% if botIsWinner && !set.topPlayer.nil? %>
                                          <% losingChars.each do |char| %>
                                          <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                          <% end %>
                                        <% end %>
                                      <span style="" title="<%= set.topPlayer.gamertag if !set.topPlayer.nil? %>"><%= set.topPlayer.gamertag if !set.topPlayer.nil? %></span>
                                    </div>
                                  </div>
                                  <div class="match_bottom_half">
                                    <div class="bottom_score <%= "winner" if botIsWinner %>"><%= botIsWinner ? set.wscore : set.lscore%></div>
                                    <div class="inner_content" data-participant_id="34398092" data-round="1">
                                        <% if botIsWinner && !set.bottomPlayer.nil? %>
                                          <% winningChars.each do |char| %>
                                          <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                          <% end %>
                                        <% end %>
                                        <% if topIsWinner && !set.bottomPlayer.nil? %>
                                          <% losingChars.each do |char| %>
                                          <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                          <% end %>
                                        <% end %>
                                      <span style="" title="<%= set.bottomPlayer.gamertag if !set.bottomPlayer.nil? %>"><%= set.bottomPlayer.gamertag if !set.bottomPlayer.nil? %></span>
                                    </div>
                                  </div>
                                  <div class="shadow">
                                </div>
                              </div>
                              </td>
                              <% if roundMax == setSize %>
                                <% if index % 2 == 0 %>
                                  <td style="padding:0;">
                                    <div class="match-location-container">
                                    <div class="hide match-location" title="">
                                    </div>
                                    </div>
                                    <div class="bracket_lines " style="float:none;">
                                      <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                          <tr>
                                            <td class="left_col top_row border_bottom rfix"></td>
                                          </tr>
                                          <tr>
                                            <td class="left_col bottom_row border_right"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                  <% else %>
                                  <td style="padding:0;">
                                    <div class="match-location-container">
                                    <div class="hide match-location" title="">

                                    </div>
                                    </div>
                                    <div class="bracket_lines " style="float:none;">
                                      <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                          <tr>
                                            <td class="left_col top_row border_bottom border_right lfix"></td>
                                            <td class="right_col top_row border_top"></td>
                                          </tr>
                                          <tr>
                                            <td class="left_col rfix"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </td>
                                <% end %>
                              <% elsif index % 2 == 0 %>
                                <td style="padding:0;">
                                  <div class="match-location-container">
                                  <div class="hide match-location" title="">
                                  </div>
                                  </div>
                                  <div class="bracket_lines " style="float:none;">
                                    <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td class="left_col top_row border_bottom rfix"></td>
                                        </tr>
                                        <tr>
                                          <td class="left_col bottom_row border_right"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                              <% else %>
                              <td style="padding:0;">
                                <div class="match-location-container">
                                <div class="hide match-location" title="">
                                </div>
                                </div>
                                <div class="bracket_lines " style="float:none;">
                                  <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                      <tr>
                                        <td class="left_col top_row border_right border_bottom"></td>
                                      </tr>
                                      <tr>
                                        <td class="right_col rfix"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                </td>

                              <% end %>

                            </tr>
                          </tbody>
                        </table>
                    </div>

                    <% end %>

                      <% if index + 1 < sets.size %>
                        <% if index % 2 != 0 %>
                        <% ((roundMax/setSize) - 1).times do |x| %>
                          <div class="match_spacer" style="width: 50px;"></div>
                        <% end %>
                        <% end %>
                      <% end %>


                  <% end %>
                  </td>
                <% end %>
            </tbody>
          </table>


          <table class="bracket-losers">
            <thead>
              <% @tournament.losersRounds.times do |i| %>
                <th>Losers Round <%= i + 1 %></th>
              <% end %>
            </thead>
            <tbody>
                <%
                  roundMax = ( (2 ** (Math.log(@tournament.players.size, 2).ceil)) / 2 ) / 2
                  @tournament.losersRounds.times do |i|
                  firstTime = true
                %>
                <td>
                  <% sets = @tournament.gamesets.where("roundnum = ?", -(i + 1)).order(setnum: :asc)
                  setSize = sets.size
                  sets.each_with_index do |set, index| %>
                  <%
                      topIsWinner = false
                      botIsWinner = false
                      topIsWinner = true if set.winner == set.topPlayer && !set.topPlayer.nil?
                      botIsWinner = true if set.winner == set.bottomPlayer && !set.bottomPlayer.nil?
                   %>
                  <%

                      wchar = Gamematch.select("wchar", "lchar").where(tournament: @tournament, winner: set.winner, gameset: set)
                      lchar = Gamematch.select("lchar", "wchar").where(tournament: @tournament, loser: set.loser, gameset: set)
                      winningChars = []
                      losingChars = []
                      wchar.each do |match|
                        match.wchar.split(',').each do |char|
                         winningChars.push(char) if !winningChars.include? char
                        end
                        match.lchar.split(',').each do |char|
                          losingChars.push(char) if !losingChars.include? char
                        end
                      end
                      lchar.each do |match|
                        match.lchar.split(',').each do |char|
                         losingChars.push(char) if !losingChars.include? char
                        end
                        match.wchar.split(',').each do |char|
                         winningChars.push(char) if !winningChars.include? char
                        end
                      end
                  %>

                    <% ((roundMax/setSize) - 1).times do |x| %>
                      <% if firstTime %>
                        <div class="match_half_spacer" style="width: 50px;"></div>
                      <% else %>
                        <% if index % 2 != 0 %>
                        <table border="0" cellpadding="0" cellspacing="0" class="match_table  " id="">
                          <tbody>
                            <tr>
                              <td class="core" id="" style="padding:0">
                                <div class="spacer full_width_spacer"></div>
                              </td>
                              <% if (x + 1) == ((roundMax/setSize)) / 2 || i == 1 %>
                                <td style="padding:0;">
                                  <div class="bracket_lines " style="float:none;">
                                    <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                      <tbody>
                                        <tr>
                                          <td rowspan="2" class="left_col one_row border_right"></td>
                                          <td class="right_col top_row border_bottom"></td>
                                        </tr>
                                        <tr>
                                          <td class="bottom_row"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                                <% else %>
                                  <td style="padding:0;">
                                    <div class="bracket_lines " style="float:none;"><table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0"><tbody><tr><td class="left_col one_row border_right"></td></tr></tbody></table></div>
                                  </td>
                                <% end %>
                              </tr>
                            </tbody>
                          </table>
                          <% end %>
                      <% end %>
                    <% end %>
                    <% firstTime = false %>

                    <%
                    bye = Player.find_by(gamertag: "bye")
                    if set.topPlayer == bye || set.bottomPlayer == bye
                       %>
                      <div class="match_spacer" style="width: 50px;"></div>
                    <% else %>

                    <% ran = Random.new()
                        rannum = ran.rand(734500530) %>

                        <div class="clickable-set" data-id="<%= set.id %>">
                            <table border="0" cellpadding="0" cellspacing="0" class="match_table match_qtip match-tipsy admin_editable pid34398004 pid34398092" id="match_qtip_51831678">
                              <tbody>
                                <tr>
                                  <td class="core" id="match_qtip_51831678_" style="padding:0" original-title="">
                                    <div class="matchContainer">
                                      <div class="match_top_half">
                                        <div class="top_score <%= "winner" if topIsWinner %>"><%= topIsWinner ? set.wscore : set.lscore%></div>
                                        <div class="inner_content" data-round="1">
                                            <% if topIsWinner && !set.topPlayer.nil? %>
                                              <% winningChars.each do |char| %>
                                              <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                              <% end %>
                                            <% end %>
                                            <% if botIsWinner && !set.topPlayer.nil? %>
                                              <% losingChars.each do |char| %>
                                              <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                              <% end %>
                                            <% end %>
                                          <span style="" title="<%= set.topPlayer.gamertag if !set.topPlayer.nil? %>"><%= set.topPlayer.gamertag if !set.topPlayer.nil? %></span>
                                        </div>
                                      </div>
                                      <div class="match_bottom_half">
                                        <div class="bottom_score <%= "winner" if botIsWinner %>"><%= botIsWinner ? set.wscore : set.lscore%></div>
                                        <div class="inner_content" data-participant_id="34398092" data-round="1">
                                            <% if botIsWinner && !set.bottomPlayer.nil? %>
                                              <% winningChars.each do |char| %>
                                              <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                              <% end %>
                                            <% end %>
                                            <% if topIsWinner && !set.bottomPlayer.nil? %>
                                              <% losingChars.each do |char| %>
                                              <%= image_tag("characters/#{char.to_s + "-icon"}.png", alt: "#{char}", class: "bracket-charImg") %>
                                              <% end %>
                                            <% end %>
                                          <span style="" title="<%= set.bottomPlayer.gamertag if !set.bottomPlayer.nil? %>"><%= set.bottomPlayer.gamertag if !set.bottomPlayer.nil? %></span>
                                        </div>
                                      </div>
                                      <div class="shadow"></div>
                                    </div>
                                  </td>
                                  <% if roundMax == setSize %>
                                    <% if index % 2 == 0 %>
                                      <td style="padding:0;">
                                        <div class="match-location-container">
                                        <div class="hide match-location" title="">
                                        </div>
                                        </div>
                                        <div class="bracket_lines " style="float:none;">
                                          <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td class="left_col top_row border_bottom rfix"></td>
                                              </tr>
                                              <tr>
                                                <td class="left_col bottom_row border_right"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </td>
                                      <% else %>
                                      <td style="padding:0;">
                                        <div class="match-location-container">
                                        <div class="hide match-location" title="">

                                        </div>
                                        </div>
                                        <div class="bracket_lines " style="float:none;">
                                          <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td class="left_col top_row border_bottom border_right lfix"></td>
                                                <td class="right_col top_row border_top"></td>
                                              </tr>
                                              <tr>
                                                <td class="left_col rfix"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </td>
                                    <% end %>
                                  <% elsif index % 2 == 0 %>
                                    <td style="padding:0;">
                                      <div class="match-location-container">
                                      <div class="hide match-location" title="">
                                      </div>
                                      </div>
                                      <div class="bracket_lines " style="float:none;">
                                        <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                          <tbody>
                                            <tr>
                                              <td class="left_col top_row border_bottom rfix"></td>
                                            </tr>
                                            <tr>
                                              <td class="left_col bottom_row border_right"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                  <% else %>
                                  <td style="padding:0;">
                                    <div class="match-location-container">
                                    <div class="hide match-location" title="">
                                    </div>
                                    </div>
                                    <div class="bracket_lines " style="float:none;">
                                      <table class="bracket_lines_table" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                          <tr>
                                            <td class="left_col top_row border_right border_bottom"></td>
                                          </tr>
                                          <tr>
                                            <td class="right_col rfix"></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    </td>

                                  <% end %>

                                </tr>
                              </tbody>
                            </table>
                        </div>

                    <% end %>

                    <% if index + 1 < sets.size %>
                      <% if index % 2 != 0 %>
                      <% ((roundMax/setSize) - 1).times do |x| %>
                        <div class="match_spacer" style="width: 50px;"></div>
                      <% end %>
                      <% end %>
                    <% end %>



                  <% end %>
                  </td>
                <% end %>
            </tbody>
          </table>

        </div>

        <div id="" class="set-information">
          <%= form_tag("/gamesets/update/", method: "post") do %>
          <div class="set-table">
              <div class="set-title">
                  <div class="set-player top">
                    <span></span>
                    <input type="hidden" name="topPlayer" value="" />
                  </div>
                  <div class="set-character">
                  </div>
                  <div class="set-player bot">
                    <span></span>
                    <input type="hidden" name="bottomPlayer" value="" />
                    <span class="set-information-close">X</span>
                  </div>
              </div>
            </div>
                <div class="set-date">
                </div>
            <div class="set-match-container">
            </div>
            <div class="char-list">
              <%= image_tag("characters/bowser.png", alt: "bowser", class: "selectedChar") %>
              <%= image_tag("characters/captainfalcon.png", alt: "captainfalcon", class: "selectedChar") %>
              <%= image_tag("characters/dk.png", alt: "dk", class: "selectedChar") %>
              <%= image_tag("characters/drmario.png", alt: "drmario", class: "selectedChar") %>
              <%= image_tag("characters/falco.png", alt: "falco", class: "selectedChar") %>
              <%= image_tag("characters/fox.png", alt: "fox", class: "selectedChar") %>
              <%= image_tag("characters/ganondorf.png", alt: "ganondorf", class: "selectedChar") %>
              <%= image_tag("characters/iceclimbers.png", alt: "iceclimbers", class: "selectedChar") %>
              <%= image_tag("characters/jigglypuff.png", alt: "jigglypuff", class: "selectedChar") %>
              <%= image_tag("characters/kirby.png", alt: "kirby", class: "selectedChar") %>
              <%= image_tag("characters/link.png", alt: "link", class: "selectedChar") %>
              <%= image_tag("characters/luigi.png", alt: "luigi", class: "selectedChar") %>
              <%= image_tag("characters/mario.png", alt: "mario", class: "selectedChar") %>
              <%= image_tag("characters/marth.png", alt: "marth", class: "selectedChar") %>
              <%= image_tag("characters/mewtwo.png", alt: "mewtwo", class: "selectedChar") %>
              <%= image_tag("characters/mrgamewatch.png", alt: "mrgamewatch", class: "selectedChar") %>
              <%= image_tag("characters/ness.png", alt: "ness", class: "selectedChar") %>
              <%= image_tag("characters/peach.png", alt: "peach", class: "selectedChar") %>
              <%= image_tag("characters/pichu.png", alt: "pichu", class: "selectedChar") %>
              <%= image_tag("characters/pikachu.png", alt: "pikachu", class: "selectedChar") %>
              <%= image_tag("characters/roy.png", alt: "roy", class: "selectedChar") %>
              <%= image_tag("characters/samus.png", alt: "samus", class: "selectedChar") %>
              <%= image_tag("characters/sheik.png", alt: "sheik", class: "selectedChar") %>
              <%= image_tag("characters/yoshi.png", alt: "yoshi", class: "selectedChar") %>
              <%= image_tag("characters/younglink.png", alt: "younglink", class: "selectedChar") %>
              <%= image_tag("characters/zelda.png", alt: "zelda", class: "selectedChar") %>
              <%= image_tag("characters/unknown.png", alt: "unknown", class: "selectedChar") %>
            </div>
            <div class="map-list">
              <%= image_tag("maps/battlefield.png", alt: "battlefield", class: "selectedMap") %>
              <%= image_tag("maps/dreamland.png", alt: "dreamland", class: "selectedMap") %>
              <%= image_tag("maps/finaldestination.png", alt: "finaldestination", class: "selectedMap") %>
              <%= image_tag("maps/fountainofdreams.png", alt: "fountainofdreams", class: "selectedMap") %>
              <%= image_tag("maps/pokemonstadium.png", alt: "pokemonstadium", class: "selectedMap") %>
              <%= image_tag("maps/yoshistory.png", alt: "yoshistory", class: "selectedMap") %>
            </div>
            <div class="set-footer">
              <div class="set-url">
                <div class="set-url">
                  <%= link_to image_tag("youtube.png", alt: "SilentRush Youtube", class: "linkIcons"),
                              'https://www.youtube.com/channel/UCPX7XGzTNf-Rt_c_QLTuWEQ/videos', :target => "_blank" %>
                  <span class="set-info-editbtn">
                    <input type="hidden" name="matchCount" value="" />
                    <%= submit_tag("Update", class: "btn btn-sm btn-primary") %>
                  </span>
                </div>
              </div>
              <div class="match-plus-minus">
                <input type="button" class="plus btn btn-sm btn-primary" value="+" />
                <input type="button" class="minus btn btn-sm btn-danger" value="-"  />
              </div>
            </div>
          <% end %>
        </div>

        <div id="results">
        </div>

    </div>



     <div id="players" class="tab">
       <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Gamertag</th>
                <th>Played Characters</th>
                <th>W/L</th>
                <th>Winrate</th>
              </tr>
            </thead>
            <tbody>
              <% @tournament.players.each do |player| %>
                <tr>
                  <td><%= link_to(player.gamertag, player_path(player.id), class: "links") if !player.nil? %></td>

                  <%
                   wchar = Gamematch.select("wchar").where(tournament: @tournament, winner: player)
                   lchar = Gamematch.select("lchar").where(tournament: @tournament, loser: player)
                   chars = []
                   wchar.each do |match|
                     match.wchar.split(',').each do |char|
                      chars.push(char) if !chars.include? char
                     end
                   end
                   lchar.each do |match|
                     match.lchar.split(',').each do |char|
                      chars.push(char) if !chars.include? char
                     end
                   end
                   %>
                  <td>
                    <% chars.each do |char| %>
                    <%= image_tag("characters/#{char}.png", alt: "#{char}", class: "charImg") %>
                    <% end %>
                  </td>
                    <% @wins = 0
                           @loses = 0
                          Gameset.where("tournament_id = ? AND (winner_id = ? OR loser_id = ?)", @tournament.id.to_s, player.id.to_s, player.id.to_s).each do |set|
                            if player == set.winner
                              @wins += set.wscore.to_i
                              @loses += set.lscore
                            else
                              @wins += set.lscore
                              @loses += set.wscore
                            end
                           end %>
                  <td><%= @wins %> - <%= @loses %></td>
                  <td>
                      <%= @wins == 0 ? number_to_percentage(0 * 100, precision: 2) : number_to_percentage((@wins.to_f / (@loses + @wins)) * 100, precision: 2) %>
                  </td>
                 </tr>
                <% end %>
              </tbody>
            </table>
          </div>
       </div>
    </div>
  </div>



  <%= link_to image_tag("youtube.png", alt: "SilentRush Youtube", class: "linkIcons"),
              'https://www.youtube.com/channel/UCPX7XGzTNf-Rt_c_QLTuWEQ/videos', :target => "_blank" %>
<%= link_to image_tag("http://drafterita.com/data/uploads/twitch-big-logo.png", alt: "SilentRush Twitch", class: "linkIcons"),
            'http://www.twitch.tv/silentrush_' %>
