<div class="jumbotron">
  <h1><%= @tournament.name %></h1>
    <h2><%= @tournament.description %></h2>

    <table class="table">
      <thead>
        <tr>
          <th>Round</th>
          <th>Winner</th>
          <th>loser</th>
          <th>Score</th>
          <th>Winner Characters</th>
          <th>Loser Character</th>
        </tr>
      </thead>
      <tbody>
      <% @tournament.gamesets.all.each do |set| %>

        <tr>
          <td><%= set.name.humanize.split.map(&:capitalize).join(' ') %></td>
            <td><%= set.winner %></td>
            <td><%= set.loser %></td>
            <td><%= set.wscore %> - <%= set.lscore %></td>
            <td><%= set.gamematches.first.wchar %></td>
            <td><%= set.gamematches.first.lchar %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>Gamertag</th>
        <th>Characters</th>
        <th>W/L</th>
        <th>Winrate</th>
      </tr>
    </thead>
    <tbody>
  <% eval(@tournament.players).each do |i|
    @player = Player.find(i.to_i)%>
    <tr>
        <td><%= @player.gamertag %></td>
        <td><%= @player.characters %></td>
        <td><%= @player.wins %> - <%= @player.loses %></td>
        <td><%= @player.loses == 0 ? number_to_percentage(1 * 100, precision: 2) : number_to_percentage((@player.wins.to_f / (@player.loses + @player.wins)) * 100, precision: 2) %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>



<%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/social-18/512/Youtube-128.png", alt: "SilentRush Youtube"),
            'https://www.youtube.com/channel/UCPX7XGzTNf-Rt_c_QLTuWEQ/videos' %>
<%= link_to image_tag("http://drafterita.com/data/uploads/twitch-big-logo.png", alt: "SilentRush Twitch"),
            'http://www.twitch.tv/silentrush_' %>
