<div class="jumbotron">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <h1><%= @tournament.name %></h1>
    <h2><%= @tournament.description %></h2>

    <table class="table">
      <thead>
        <tr>
          <th>Round</th>
          <th>Winner</th>
          <th>loser</th>
          <th>Score</th>
          <th>Winner Characters</th>
          <th>Loser Character</th>
        </tr>
      </thead>
      <tbody>
      <% @tournament.gamesets.each_with_index do |set, index| %>

        <tr class="clickable-row" data-id="row<%= index %>">
          <td><%= set.name.humanize.split.map(&:capitalize).join(' ') %></td>
            <td><%= set.winner.gamertag.to_s %></td>
            <td><%= set.loser.gamertag.to_s %></td>
            <td><%= set.wscore %> - <%= set.lscore %></td>
            <td><%= set.gamematches.first.wchar.to_s %></td>
            <td><%= set.gamematches.first.lchar.to_s %></td>
        </tr>

        <tr id="row<%= index %>" hidden>
          <td colspan="6">
            <table class="table">
              <thead>
                <tr>
                  <th>Match #</th>
                  <th>Winner</th>
                  <th>Winning Character</th>
                  <th>Loser</th>
                  <th>Losing Character</th>
                </tr>
              </thead>
              <tbody>
                <% set.gamematches.each do |match| %>
                  <tr>
                    <td><%= match.matchnum %></td>
                    <td><%= match.winner.gamertag.to_s %></td>
                    <td><%= match.loser.gamertag.to_s %></td>
                    <td><%= match.wchar.to_s %></td>
                    <td><%= match.lchar.to_s %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>Gamertag</th>
        <th>Characters</th>
        <th>W/L</th>
        <th>Winrate</th>
      </tr>
    </thead>
    <tbody>
  <% @tournament.players.each do |player| %>
    <tr>
        <td><%= player.gamertag %></td>
        <td><%= player.characters %></td>
        <% @wins = 0
               @loses = 0
              player.gamesets.where(tournament_id: @tournament.id).each do |set|
                if player == set.winner
                  puts @wins.to_s + set.winner.gamertag.to_s
                  @wins += set.wscore.to_i
                  @loses += set.lscore
                else
                  @wins += set.lscore
                  @loses += set.wscore
                end
               end %>
        <td><%= @wins %> - <%= @loses %></td>
        <td>
            <%= @wins == 0 ? number_to_percentage(0 * 100, precision: 2) : number_to_percentage((@wins.to_f / (@loses + @wins)) * 100, precision: 2) %>
             </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>



<%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/social-18/512/Youtube-128.png", alt: "SilentRush Youtube"),
            'https://www.youtube.com/channel/UCPX7XGzTNf-Rt_c_QLTuWEQ/videos' %>
<%= link_to image_tag("http://drafterita.com/data/uploads/twitch-big-logo.png", alt: "SilentRush Twitch"),
            'http://www.twitch.tv/silentrush_' %>
