<div class="player-container" style="background-image: url('../assets/<%= @player.characters.split(",").first  %>card.png')">
  <div class="playerName"><%= @player.gamertag %></div>
  <%= image_tag("player.png", class: "player-img") %>
  <div class="special-moves">Poops on HBOX: Destroy Hbox</div>
  <div class="attr-container">
    <div class="attributes">
      <%= image_tag("characters/peach-icon.png", class: "player-weakness") %>
      <%= image_tag("characters/jigglypuff-icon.png", class: "player-resistance") %>
    </div>
    <div class="snippet">
      DO NOT SLEEP ON THE KID
    </div>
  </div>
</div>
