<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Smash App</a> 
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",    root_path %></li>
            <li><%= link_to "Tournaments",    tournaments_path %></li>
            <li><%= link_to "Create Tournament", new_tournament_path %> </li>
            <li><%= link_to "Import Tournament", parseTournament_path %></li>
            <li><%= link_to "Help",    help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
